header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 4.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  color: var(--secondary-color);
  transition: all 0.8s;
}

nav ul li {
  position: relative;
  padding: 0 1rem;
  cursor: pointer;
}

nav ul li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 3px;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.3s 0.2s cubic-bezier(1, 0, 0, 1),
    background-color 0.1s, -webkit-transform 0.2s;
}

nav ul li:hover::before {
  transform: scaleY(1);
  width: 100%;
}
